.FormBooks{
    display: flex;
    width: 2200px;
    height: 700px;
    margin-top: 100px;
    margin-left: 100px;
    border-radius:30px;
    background-color: rgba(240, 238, 238, 0.665);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}

/*
@media screen and (min-width: 1400px) {
	.FormBooks {
        display: flex;
        height: 700px;
        margin-top: 100px;
		
	}
}

@media screen and (min-width: 1366px) {
	.FormBooks {
        display: flex;
        margin-top: 100px;
        height: 600px;
		}
}

@media screen and (min-width: 1280px) {
	.FormBooks {
        display: flex;
        margin-top: 100px;
        height: 600px;
		}
}

@media screen and (min-width: 1068px) {
	.FormBooks {
        display: flex;
        margin-top: 100px;
        height: 700px;
		}
}

@media screen and (min-width: 860px) {
	.FormBooks {
        display: flex;
        margin-top: 100px;
        height: 550px;
		}
}*/




.DivBook{
    display: flex;
    width: 300px;
    height: 500px;
    border:solid 1px aliceblue;
    margin-left: 200px;
    margin-top:100px;
    border-radius:20px;
    background-color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.IconBook{
    margin-left: 10px 10px 0 0;
}


.Formregister{
    display:flex;
    margin-left:100px;
    margin-top: 200px;
}

.FileInput{
    display: none
}


