/*REGISTER BOOKS*/

.FormBooks{
    display: flex;
    width:1084;
    height: 750px;
    margin-top: 100px;
    margin-left: 30px;
    border-radius:10px;
    background-color: white;
    box-shadow: 1px 7px 7px 0px rgba(0, 0, 0, 0.30);
}

/*formulario*/

form {
    width: 100%;
    margin: 0 auto;
  }


.Formregister{
    display:flex;
    margin-left:20em;
    margin-top: 8em;
}

.inputForm{
    display: flex;
    width:40em ;
    height: 3em;
    border-radius: 13px;
    border: none;
    border: solid 3px #00BCDE;
    box-shadow: rgba(0, 0, 0, 0.101) 0px 3px 8px;

}

.buttonregister{
    width: 15em;
    height: 2.5em;
    margin-top: 5rem;
    border-radius: 40px;
    border: none;
    background-color: #4ae2fd;
    color: white;
    font-size: 1.5em;
    margin-left: -10em;
    box-shadow: rgba(0, 0, 0, 0.056) 0px 3px 6px, rgba(0, 0, 0, 0.09) 0px 3px 6px;
    cursor: pointer;
    font-weight: bold;
    
}

.container{
    width: 100%;
    margin: 0 auto;
}

/*responsive*/

@media screen and (max-width: 1600px){
    .inputForm{
        width: 30em;
        margin-left:-90px;
    }
    .max{
        margin-left: -3em;
    }
    .inputValue2{
        width: 24.6em !important; 
        margin-left:-0.3em !important;
    }
    .container2{
        margin-left: -100px;
        margin-top: 50%;
    }
}

@media screen and (max-width: 1440px){
    .inputForm{
        width: 35em;
        margin-left:-100px;
    }
    .max{
        margin-left: -10em;
    }
    .inputValue2{
        width: 30.6em !important; 
        margin-left:-0.3em !important;
    }

    }

    @media screen and (max-width: 1300px){
        .inputForm{
            width: 30em !important;
            margin-left:-100px;
        }
        .max{
            margin-left: -10em;
        }
        .inputValue2{
            width: 24.6em !important; 
            margin-left:-0.3em !important;
        }
      }
    

@media screen and (max-width: 1280px){
    .inputForm{
        width: 30em;
        margin-left:-100px;
    }
    .max{
        margin-left: -10em;
    }
}

@media screen and (max-width: 1152px){
    .inputForm{
        width: 20em !important;
        margin-left:-100px;
    }
    .max{
        margin-left: -10em;
    }
    
    .inputValue2{
        width:12.6em !important; 
        margin-left:-0.3em !important;
    }
    .inputValue{
        width:11.3em !important; 
    }
}


@media screen and (max-width: 800px){
    .inputForm{
        width: 30em;
        margin-left:-30.8em !important;
       
    }  
    .buttonregister{
       margin-left: -21em;
    }
    .max{
        width: 30em;
        margin-left: -7em;
    }
    form{
        margin-top: 35em;
    }
    .FormBooks{
        height: 1300px;
    }
}

@font-face {
    font-family: 'Outfit';
    src: url('../../fonts/Outfit.ttf');
}

/*Input Form*/

.inputForm label{
    font-weight: bold;
    padding: 0.50em;
    font-family: 'Outfit';
    font-size: 1.3em ;
    color:#037e7e;
}

.container form {
    display: flex;
}

.textsInputs {
    margin-left: 140px;
}

.BookInput label{
    top:50%;
    position: absolute;
    transform: translateY(-50%);

}

.inputValue{
    background: none;
    border: none;
    width: 50em;
    font-size: 1.3em;
}

.inputValue1{
    background: none;
    border: none;
    width: 600px;
    font-size: 1.3em;
}

.inputValue2{
    background: none;
    border: none;
    width:36.6em ;
    margin-left:-0.3em;
}

input:focus {
    outline: none;
}

/*InputFile*/


/* input[type='file']{
    display:none
} */

.max{
    max-width: 450px;
    width: 100%;
}

.imageContainer:hover{
    background-color: #a9a9a9 ;

}

.imageContainer {
    background-color: #d2d3d5;
}

.imageContainer{
    display: flex;
    width: 335px;
    height: 500px;
    background-color: none;
    margin-top: -30px;
    margin-left: -55px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.075) 0px 3px 6px, rgba(0, 0, 0, 0.081) 0px 3px 6px;
    border-radius: 40px;
    cursor: pointer;
    background-image: url('../../img/photo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;

    overflow: hidden;
}

.PhotoBook {
    opacity: 0;
    height: 100%;
    margin-left: -5px;
}


/*REGISTER STUDENTS*/

.backgroundRegister{
    display: flex;
    width:1084;
    height: 700px;
    margin-top: 100px;
    margin-left: 30px;
    border-radius:10px;
    background-color: white;
    box-shadow: 1px 7px 7px 0px rgba(0, 0, 0, 0.30);
}

.container2{
    margin-left: 70% !important;
    margin-top: 50%;
}
.buttonregister2{
    width: 15em;
    height: 2.5em;
    margin-top: 5rem;
    border-radius: 10px;
    border: none;
    background-color: #4ae2fd;
    color: white;
    font-size: 1.5em;
    margin-left: -1.5em !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    cursor: pointer;
    font-weight: bold;
}

/* Responsive Register Students*/

@media screen and (min-width: 1600px){
   .container2{
    margin-left: 70%;
    margin-top: 25%;
   }
.buttonregister2{
    margin-left: 5em !important; 
}

}

@media screen and (max-width: 1300px){
    .container2{
        margin-left: 40em !important;
        margin-top: 40% !important;
       }
    .buttonregister2{
        margin-right: 2em; 
    }
}


@media screen and (max-width: 1440px){
    .container2{
        margin-left: 85% !important;
        margin-top: 25% !important;
       }
    .buttonregister2{
        margin-left: -0.21em !important; 
    }
}







