.FormBooks{
    display: flex;
    width:1084;
    height: 700px;
    margin-top: 100px;
    margin-left: 30px;
    border-radius:10px;
    background-color: white;
    box-shadow: 1px 7px 7px 0px rgba(0, 0, 0, 0.30);
}




@media screen and (min-width: 1366px) {
	.FormBooks {
        display: flex;
        margin-top: 100px;
        height: 600px;
		}
}

@media screen and (min-width: 1280px) {
	.FormBooks {
        display: flex;
        margin-top: 100px;
        height: 600px;
		}
}

@media screen and (min-width: 1068px) {
	.FormBooks {
        display: flex;
        margin-top: 100px;
        height: 700px;
		}
}

@media screen and (min-width: 860px) {
	.FormBooks {
        display: flex;
        margin-top: 100px;
        height: 550px;
		}
}










.Formregister{
    display:flex;
    margin-left:20em;
    margin-top: 6em;
}

.inputForm{
    display: flex;
    width: 40em;
    height: 3em;
    border-radius: 5px;
    border: none;
    border: solid 3px #00BCDE;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.buttonregister{
    width: 20em;
    height: 3em;
    margin-top: 2rem;
    border-radius: 10px;
    border: none;
    background-color: #4ae2fd;
    color: white;
    font-size: 1em;
    margin-left: -10em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}




/* input[type='file']{
    display:none
} */

.max{
    max-width: 450px;
    width: 100%;
}

.imageContainer:hover{
    background-color: #d2d3d5 ;

}

.imageContainer{
    display: flex;
    width: 335px;
    height: 500px;
    background-color: none;
    border: none;
    margin-left: 20em;
    margin-top:100px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 20px;
    cursor: pointer;

    background-image: url('../../img/photo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;

    overflow: hidden;
}

.PhotoBook {
    opacity: 0;
    height: 100%;
    margin-left: -5px;
}








