body, html{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Outfit', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    background-color: rgb(205, 42, 42);
  }
