.BookData {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 30px;
    padding-bottom: 35px;
    position: absolute;
    z-index: 3;
    top: 18%;
    left: 17.8%;
}

.BookData hr{
    height: 50px;
    margin-top: 20px;
    margin-right: 10px;
    border: solid 1px rgba(0, 0, 0, 0.10);
}

.DataList {
    display: flex;
    flex-direction: row;
}

.TopDataList {
    display: flex;
    flex-direction: row;
}

.CapeImg {
    width: 320px;
}

.EditBButton img{
    width: 50px;
    height: 50px;
}

.CloseBButton {
    width: 40px;
    height: 40px;
    padding: 0px;
    border: none;
    background: none;
    position: absolute;
    right: 30px;
    top: 40px;
}

.CloseBButton img{
    width: 20px;
    height: 20px;
}

.DataLine1 {
    display: flex;
    border-bottom: solid 1px rgba(0, 0, 0, 0.10);
}

.DataLine2 {
    display: flex;
    border-bottom: solid 1px rgba(0, 0, 0, 0.10);
}

.DataLine3 {
    display: flex;
    border-bottom: solid 1px rgba(0, 0, 0, 0.10);
}

.DataLine4 {
    display: flex;
}

.DataLines {
    padding: 0px 20px;
}

.BookTitle {
    color: #037E7E;
    font-size: 1.7em;
}

.HistoryButton img{
    width: 48px;
    height: 48px;
}

@font-face {
    font-family: 'Outfit';
    src: url('../../fonts/Outfit.ttf');
}

.HistoryButton {
    background: none;
    border: none;
    position: absolute;
    right: 200px;
}

.EditBButton {
    background: none;
    border: none;
    position: absolute;
    right: 256px;
}

.ToLoan {
    border: none;
    padding: 13px;
    height: 55px;
    border-radius: 10px;
    font-size: 1.3em;
    font-weight: 600;
    font-family: 'Outfit';
    color: white;
    background: linear-gradient(180deg, #0ECEB8 0%, #00F3D7 100%);
    position: absolute;
    right: 70px;
    z-index: 2;
}

.DataLine5 {
   display: flex;
   flex-direction: row;
}

.BlockData {
    display: flex;
    padding: 10px 5px;
    flex-direction: column;
}

.BlockData label {
    border: none;
    font-family: 'Outfit';
    color: #35B9CF;
    font-size: 1.1em;
}

.BlockData input:focus-visible {
    outline: none;
}

.BlockData input {
    border: none;
    font-family: 'Outfit';
    color: #037E7E;
    font-weight: 500;
    font-size: 1.1em;
    height: 30px;
    overflow-wrap: break-word;
}

#id {
    width: 70px;
    font-weight: 500;
    color: #037e7e;
    font-size: 1.1em;
}

#genre {
    width: 300px;
    font-weight: 500;
    color: #037e7e;
    font-size: 1.1em;
}

#author {
    width: 170px;
    font-weight: 500;
    color: #037e7e;
    font-size: 1.1em;
}

#name {
    width: 170px;
    font-weight: 500;
    color: #037e7e;
    font-size: 1.1em;
}

#since {
    width: 150px;
    font-weight: 500;
    color: #037e7e;
    font-size: 1.1em;
}

#copies {
    width: 110px;
    font-weight: 500;
    color: #037e7e;
    font-size: 1.1em;
}

#quantity {
    width: 100px;
    font-weight: 500;
    color: #037e7e;
    font-size: 1.1em;
}

#description {
    width: 280px;
    font-weight: 500;
    color: #037e7e;
    font-size: 1.1em;
}

#registered {
    width: 100px;
    font-weight: 500;
    color: #037e7e;
    font-size: 1.1em;
}

#type {
    width: 120px;
    font-weight: 500;
    color: #037e7e;
    font-size: 1.1em;
}

#edition {
    width: 150px;
    font-weight: 500;
    color: #037e7e;
    font-size: 1.1em;
}

#until {
    width: 150px;
    font-weight: 500;
    color: #037e7e;
    font-size: 1.1em;
}